// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$bg-success: #198754;
$bg-danger: #dc3545;
$bg-primary: #0d6efd;
$bg-warning: #ffc107;
$bg-dark: #212529;
